html,
body {
    padding: 0; 
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.slide-content,
.slide {
    max-width: 800px;
    min-width: 800px;
    max-height: 445px;
    min-height: 445px;
}


.wide-slide {
    display: flex;
    align-items: center;
    position: relative;
}

.container {
    border: 5px black solid;
    display: flex;
    max-width: 800px;
    /* overflow: hidden; */
}



